<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - only.miraidai.fun</title>
</head>
<body>
    <div class="container-fluid text-center">
        <img class="mb-3 w-75" src="/assets/logo.svg" alt="only.miraidai.fun" id="logo">
        <h1>About</h1>
        <p>
            <a href="https://only.miraidai.fun">only.miradai.fun</a>は、未来大生にのみ共有したいリンクに認証をかけることができるシステムです。
        </p>
        <h2>How it works</h2>
        <ul>
            <h3>リンクに認証を適用する</h3>
            <li>未来大生だということが確認できるアカウントでログインします。</li>
            <li>only.miraidai.funを使用してリンクを生成します。</li>
            <li>得られたリンクをコピーして使用します。</li>

            <h3>認証をかけられたリンクを使用する</h3>
            <li>リンクをクリックします。</li>
            <li>未来大生だということが確認できるアカウントでログインします。</li>
        </ul>
    </div>
</body>
</html>
