<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>only.miraidai.fun</title>

    <%- include('include/head'); %>
</head>

<body>
    <div class="container text-center">
        <div class="box">
            <h1><img class="w-50" src="/assets/logo.svg" alt="only.miraidai.fun"></h1>
            <a type="button" class="btn btn-primary" href="<%= link %>">
                リンクを開く
            </a>
        </div>
    </div>
</body>

</html>
