<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>only.miraidai.fun</title>

    <%- include('include/head'); %>
</head>

<body>
    <div class="container-fluid">
        <a href="/"><img class="mb-3 w-50" src="/assets/logo.svg" alt="only.miraidai.fun"></a>
        <div class="alert alert-success">
            あなたが未来大生であることが確認されました。リンクを開くことができます。
        </div>
        <a type="button" class="btn btn-primary" href="<%= link %>">
            リンクを開く
        </a>
    </div>
</body>

</html>
